/* 引入字体图标在线测试地址代码的样式 */
@import "//at.alicdn.com/t/c/font_4917597_wlzkg293yy.css";

/* 书写多页面公共样式代码 */

body {
  /* font-size: 13px; */
  font-family: Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei,
    WenQuanYi Micro Hei, sans-serif;
  /* line-height: 1.618; */
  /* font: normal 13px / 1.618 Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif; */
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.hidden {
  display: none;
}

.btn {
  background-color: #00b51d;
  border-radius: 3px;
  color: #fff;
}

.btn:disabled {
  background-color: rgba(66, 189, 86, 0.5);
  cursor: not-allowed;
}
