/* 书写公共样式代码 */

body {
    color: #111;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */