@import "reset.css";
@import "./common.css";

/* 首页统一样式开始 */

button {
  cursor: pointer;
}

/* 首页统一样式结束 */

/* 首页通用样式开始 */


.container {
  width: 950px;
  margin: 0 auto;
}

/* 首页通用样式结束 */

/* 头部区域开始 */
.header {
  height: 90px;
  padding-top: 30px;
  /* .header 没设置上外边距，默认为0（0px和30px取最大值就是30px） */

  box-sizing: border-box;
}

.header .container {
  /* 会出现外边距合并问题，没有给.header 设置上外边距，但.header 确有上外边距 */
  /* .header 没设置上外边距，默认为0（0px和30px取最大值就是30px） */
  /* margin-top: 30px; */
}

.header .logo a {
  display: block;
  width: 154px;
  /* height: 30px; */
  /* 淘宝做法： */
  /* 1. 高度为0（背景图填充的是边框盒，所以高度为0，不影响背景图的填充） */
  height: 0;
  /* 2. 用padding-top把文字挤下去 */
  padding-top: 30px;
  /* 3. 用overflow把溢出的文字隐藏 */
  overflow: hidden;

  background: url("../img/logo_db.png") no-repeat left top/100%;
}

/* .header .logo a h1 {
  display: none;
} */

/* .header .logo a span {
  display: none;
} */

.header .search {
  width: 270px;
  height: 30px;

  /* 普适性做法，搜索框的边框加在div上 */
  border: 1px solid #c3c3c3;

  margin-left: 20px;

  position: relative;
}

.header .search input {
  padding: 5px;
  /* 文本框的文字默认为13.333333333px */
  font-size: 13px;

  width: 240px;
  height: 20px;
}

.header .search input::placeholder {
  color: #ccc;
}

.header .search .sc-bn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: #c3c3c3;
}

.header .menu {
  margin-top: 6px;
}

.header .menu a {
  float: left;
  width: 40px;
  height: 20px;
  margin-left: 20px;
  font-size: 0;
  /* 模糊？用二倍图，但是变大了，尺寸要调为一倍图的尺寸463px 20px */
  background: url("../img/anony_nav_logo@2x.png") no-repeat left top/463px 20px;
  
  /* -webkit-image-set谷歌浏览器才有效 */
  /* background-image: -webkit-image-set(
    url("../img/anony_menu_logo.png") 1x,
    url("../img/anony_menu_logo@2x.png") 2x
  ); 
  background-repeat: no-repeat; */
}

/* .header .menu a:nth-child(2) {
  background-position: -60px 0px;
}

.header .menu a:nth-child(3) {
  background-position: -120px 0px;
}

.header .menu a:nth-child(4) {
  background-position: -180px 0px;
}

.header .menu a:nth-child(5) {
  background-position: -240px 0px;
}

.header .menu a:nth-child(6) {
  background-position: -300px 0px;
}

.header .menu a:nth-child(7) {
  background-position: -360px 0px;
}

.header .menu a:nth-child(8) {
  background-position: -423px 0px;
} */

/* 上面可读性不好 */

.header .menu .menu-read {
  background-position: 0px 0px;
}

.header .menu .menu-moive {
  background-position: -60px 0px;
}

.header .menu .menu-music {
  background-position: -120px 0px;
}

.header .menu .menu-group {
  background-position: -180px 0px;
}

.header .menu .menu-fm {
  background-position: -240px 0px;
}

.header .menu .menu-city {
  background-position: -300px 0px;
}

.header .menu .menu-thing {
  background-position: -360px 0px;
}

.header .menu .menu-doupin {
  background-position: -420px 0px;
  /* 宽度比较宽，单独设置 */
  width: 44px;
}

/* 头部区域结束 */
