
body {
    /* background: url("../img/bg.jpg") no-repeat 0 0/100%; */
    /* 0 0/100% 窗口网页尺寸没那么大，图片会导致变小，导致距离不太够 ——> center top（左右居中，上下为0） */
    background: url("../img/bg.jpg") no-repeat center top;
    /* background-size: cover; */
    /* min-width: 1024px; */
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.header {
    width: 1198px;
    height: 73px;
    margin: 45px auto 0;
    background: url("../img/bg_nav.jpg") no-repeat 0 0/100% 100%;
    line-height: 73px;
    text-align: center;
    position: relative;

    /* logo也有边框 ——> 这里只设置给a设置左右，给header设置上下 */
    border: 1px solid #f8b77030;
    border-left: none;
    border-right: none;
    /* border-top: 1px solid #f8b77030;
    border-bottom: 1px solid #f8b77030; */
}

.header .nav a {
    width: 161px;
    height: 73px;
    /* display: block; */
    float: left; /* 浮动元素就是块盒 */
    color: #f8b770;
    box-sizing: border-box;

    /* logo也有边框 ——> 这里只设置给a设置左右，给header设置上下 */
    border: 1px solid #f8b77030;
    border-top: none;
    border-bottom: none;
    /* border-left: 1px solid #f8b77030;
    border-right: 1px solid #f8b77030; */
}

.header .logo h1 {
    display: none;
}

.header .logo {
    width: 238px;
    height: 118px;
    background: url("../img/logo.png") no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    margin: 0 auto;
}

.header .nav a:nth-child(3){
    margin-right: 232px;
}

.main .btns {
    width: 646px;
    margin: 473px auto 0;
}

.main .btns span {
    display: none;
}

.main .btns .detail,
.main .btns .download {
    display: block;
    width: 323px;
    height: 105px;
    float: left;

    /* 雪碧图可以写在一起，针对位置进行调整 */
    background: url("../img/btns.png") no-repeat;
}

/* .main .btns .detail {
    background: url("../img/btns.png") no-repeat 0 0; 默认就是 0 0（左上角）
} */

.main .btns .download {
    background-position: -323px 0;
}

.main .advertisement {
    width: 1203px;
    margin: 76px auto;
}

.main .advertisement .item {
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 200px;

    /* border: 1px solid #f8b77030; */
    /* 仔细看有边框，可以加外边框，这样就不需要重新算 */
    outline: 1px solid #f8b77030;

    box-sizing: border-box;
}

.main .advertisement .item:last-child {
    margin-right: 0;
}

.main .advertisement .item .title {
    width: 100%;
    height: 50px;
    background-color: #211510;
    color: #f8b770;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #f8b77030;
    box-sizing: border-box;
}

.main .advertisement .item .poster img {
    width: 290px;
    height: 150px;
}