body {
    /* 整个网页文字颜色 */
    color: #333;
    line-height: 1.5;
}

.main {
    /* width: 90%; */
}

.main .nav {
    height: 60px;
    background-color: #47464a;
    color: #999;
    text-align: center;
    line-height: 60px;
}

.main .nav a {
    margin: 0 38px;
}

.main .nav a:hover {
    color: #fff;
}

.main .nav a.selected {
    color: #ef4238;
}

.main .container {
    width: 1120px;
    margin: 0 auto;
}

.main .container .choose-area {
    border: 1px solid #e5e5e5;
    padding: 0 30px;
    margin: 40px 0;
    font-size: 14px;
}

.main .container .choose-area .choose-item {
    border-bottom: 1px dotted #e5e5e5;
    line-height: 30px;
    margin: 14px 0;
}

.main .container .choose-area .choose-item:last-child {
    border-bottom: none;
}

.main .container .choose-area .choose-item .left {
    float: left;
    color: #999;
}

.main .container .choose-area .choose-item .right {
    float: left;
    /* 浮动问题通过设置宽度，因为浮动宽度由内容撑开，会导致一行放不下，固定宽度就可以放下 */
    width: 1010px;
}

.main .container .choose-area .choose-item .right ul li {
    float: left;
    margin: 0 9px;
    padding: 0 5px;
}

.main .container .choose-area .choose-item .right ul li:hover {
    color: #ef4238;
}

.main .container .choose-area .choose-item .right ul li.selected {
    color: #fff;
    background-color: #ef4238;
    border-radius: 15px;
}

.main .container .moive-list .moive-item {
    float: left;
    margin: 10px 0;
    margin-right: 32px;
    text-align: center;
    /* 要设置宽度，因为可能每张图片的宽度不一样！！！ */
    width: 160px;
}

.main .container .moive-list .moive-item:nth-child(6n) {
    margin-right: 0;
}

.main .container .moive-list .moive-item .poster img {
    /* 要给图片设置宽度。高度，因为可能每张图片的宽度不一样！！！ */
    width: 160px;
    height: 220px;
}

.main .container .moive-list .moive-item .name {
    /* width: 160px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
}

.main .container .moive-list .moive-item .score {
    height: 60px;
    line-height: 60px;
    color: #ffb400;
}

/* :first-letter伪类选择器：选中第一个字符 */
.main .container .moive-list .moive-item .score:first-letter {
    font-size: 1.5em;
}

.main .container .moive-list .moive-item .score  .integer-part {
    font-size: 28px;
}
